In [15]:
# =============================================================================
# Created By  : Rahul Kashyap
# Created Date: Friday May 8 2020
# Dataset Website: https://archive.ics.uci.edu/ml/datasets/banknote+authentication
# =============================================================================
"""ML Model to determine fake and real notes"""
# =============================================================================
# Imports
# =============================================================================

'ML Model to determine fake and real notes'

In [16]:
import pandas as pd                 # pandas, dataframe library
import matplotlib.pyplot as plt      # matplotlib.pyplot plots data

%matplotlib inline

In [21]:
## ML Model to determine fake and real notes

## Loading and Reviewing the Data

In [22]:
df = pd.read_csv('***** Insert Path to dataset*****',names=["a", "b", "c","d","e"])

In [23]:
df.shape

(1372, 5)

In [24]:
df.head(5)

         a       b       c        d  e
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [25]:
df.tail(5)

            a         b        c        d  e
1367  0.40614   1.34920  -1.4501 -0.55949  1
1368 -1.38870  -4.87730   6.4774  0.34179  1
1369 -3.75030 -13.45860  17.5932 -2.77710  1
1370 -3.56370  -8.38270  12.3930 -1.28230  1
1371 -2.54190  -0.65804   2.6842  1.19520  1

### Definition of features
From the metadata on the data source we have the following definition of the features.

| Feature  | Description | Comments |
|--------------|-------------|--------|
| num_preg     | number of pregnancies         |
| glucose_conc | Plasma glucose concentration a 2 hours in an oral glucose tolerance test         |
| diastolic_bp | Diastolic blood pressure (mm Hg) |
| thickness | Triceps skin fold thickness (mm) |
|insulin | 2-Hour serum insulin (mu U/ml) |
| bmi |  Body mass index (weight in kg/(height in m)^2) |
| diab_pred |  Diabetes pedigree function |
| Age (years) | Age (years)|
| skin | ???? | What is this? |
| diabetes | Class variable (1=True, 0=False) |  Why is our data boolean (True/False)? |

## Check for null values

In [26]:
df.isnull().values.any()

False

In [27]:
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
feature_col_names = ['a', 'b', 'c', 'd',]
predicted_class_names = ['e']

X = df[feature_col_names].values    
y = df[predicted_class_names].values 
split_test_size = 0.30

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=split_test_size, random_state=42)

In [28]:
print("{0:0.2f}% in training set".format((len(X_train)/len(df.index)) * 100))
print("{0:0.2f}% in test set".format((len(X_test)/len(df.index)) * 100))

69.97% in training set
30.03% in test set

In [29]:
from sklearn.naive_bayes import GaussianNB

# create Gaussian Naive Bayes model object and train it with the data
nb_model = GaussianNB()

nb_model.fit(X_train, y_train.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [30]:
# predict values using the training data
nb_predict_train = nb_model.predict(X_train)

# import the performance metrics library
from sklearn import metrics

# Accuracy
print("Accuracy: {0:.4f}".format(metrics.accuracy_score(y_train, nb_predict_train)))
print()

Accuracy: 0.8396

In [31]:
predictions = nb_model.predict(X_train)
print(nb_model.predict([[-2.54190,-0.65804,2.6842,1.19520]]))

[1]

In [32]:
from sklearn.metrics import accuracy_score
print (accuracy_score(y_train, predictions))

0.8395833333333333